 <!-- about section -->
      <section  class="space" style="padding-top: 20px;" >
            <div class="testimonials-clean text-light" style="padding-bottom: 100px;"  id="about">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center animated text-uppercase animateMe" data-aos="fade-down">About </h2>
                        <p class="text-center text-light text-des" data-aos="fade-down">Our customers love us! Read what they have to say below. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
                    </div>
                    <div class="row people text-des ">
                        <div class="col-md-4 col-lg-4 item" data-aos="fade-right">
                            <div class="box">
                                <p class="description text-dark">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                            </div>
                            <div class="author"><img class="rounded-circle" src="img/1.jpg">
                                <h5 class="name">Ben Johnson</h5>
                                <p class="title">CEO of Company Inc.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 item" data-aos="fade-down">
                            <div class="box">
                                <p class="description text-dark">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id.</p>
                            </div>
                            <div class="author"><img class="rounded-circle" src="img/3.jpg">
                                <h5 class="name">Carl Kent</h5>
                                <p class="title">Founder of Style Co.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 item" data-aos="fade-left">
                            <div class="box">
                                <p class="description text-dark">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                            </div>
                            <div class="author"><img class="rounded-circle" src="img/2.jpg">
                                <h5 class="name">Emily Clark</h5>
                                <p class="title">Owner of Creative Ltd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>