<!-- event section -->
        <section id="event" style="padding-top: 100px;padding-bottom: 100px;">
            <div class="container">
                <div style="text-align: center;  font-size: 30px; padding-bottom: 50px; " data-aos="fade-down" id="head" class="text-light text-uppercase"><b>event</b></div>
                <div class="row">
                    <div class="col-md-8 col-12">
                        <div class="row row-cols-1">
                            <div class="col" style="padding: 15px;" data-aos="fade-right">
                                <div class="card event-card">
                                    <div class="card-body" style="border-radius: 15px;">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <img class="card-img-left" src="img/header1.jpg" width="280" height="180" alt="">
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <h4>Lorem ipsum dolor sit</h4>
                                                <p>Lorem ipsum dolor sit amet 
                                                    consectetur adipisicing elit. 
                                                    Alias voluptate repellat, excepturi aliquam placeat quas sed earum 
                                                    corrupti quos molestiae cum minima.
                                                </p>
                                                <div class="footer-social-icon ">
                                                    <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                                    <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                                    <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col" style="padding: 15px;" data-aos="fade-right">
                                <div class="card event-card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <img class="card-img-left" src="img/header1.jpg" width="280" height="180" alt="">
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <h4>Lorem ipsum dolor sit</h4>
                                                <p>Lorem ipsum dolor sit amet 
                                                    consectetur adipisicing elit. 
                                                    Alias voluptate repellat, excepturi aliquam placeat quas sed earum 
                                                    corrupti quos molestiae cum minima.
                                                </p>
                                                <div class="footer-social-icon">
                                                    <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                                    <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                                    <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="row row-cols-1" style="padding: 15px;" data-aos="fade-left">
                            <div class="col" >
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="row text-center">
                                            <div class="col-md-4 col-4" style="width: 30px; height: 60px;padding-top: 15px; ">
                                                <h4>09:00</h4>
                                            </div>
                                            <div class="col-md-8 col-8"  style="width: 30px; height: 60px;padding-top: 15px; ">
                                                <h5>lorem ipsum dolar</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col" style="padding-top: 35px;" data-aos="fade-left">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="row text-center">
                                            <div class="col-md-4 col-4" style="width: 30px; height: 60px;padding-top: 15px; ">
                                                <h4>09:00</h4>
                                            </div>
                                            <div class="col-md-8 col-8"  style="width: 30px; height: 60px;padding-top: 15px; ">
                                                <h5>lorem ipsum dolar</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col" style="padding-top: 35px;" data-aos="fade-left">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="row text-center">
                                            <div class="col-md-4 col-4" style="width: 30px; height: 60px;padding-top: 15px; ">
                                                <h4>09:00</h4>
                                            </div>
                                            <div class="col-md-8 col-8"  style="width: 30px; height: 60px;padding-top: 15px; ">
                                                <h5>lorem ipsum dolar</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col" style="padding-top: 32px;" data-aos="fade-left">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="row text-center">
                                            <div class="col-md-4 col-4" style="width: 30px; height: 60px;padding-top: 15px; ">
                                                <h4>09:00</h4>
                                            </div>
                                            <div class="col-md-8 col-8"  style="width: 30px; height: 60px;padding-top: 15px; ">
                                                <h5>lorem ipsum dolar</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>