<!-- gallery -->
        <section id="photo" >
            <div class="container">
                <div data-aos="fade-down" style="text-align: center; padding-top: 50px;  font-size: 30px; padding-bottom: 80px; " id="head" class="text-light"><b>IMAGE GALLERY</b></div>
                  <p><section class="img-gallery-magnific">
                    <div class="magnific-img" data-aos="zoom-in">
                      <a class="image-popup-vertical-fit" href="img/1.jpg" title="9.jpg">
                        <img src="img/1.jpg" alt="9.jpg" />
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                      </a>
                    </div>
                    <div class="magnific-img" data-aos="zoom-in">
                      <a class="image-popup-vertical-fit" href="img/2.jpg" title="10.jpg">
                        <img src="img/2.jpg" alt="10.jpg" />
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                      </a>
                    </div>
                    <div class="magnific-img" data-aos="zoom-in">
                      <a class="image-popup-vertical-fit" href="https://unsplash.it/902" title="3.jpg">
                        <img src="https://unsplash.it/902/" alt="3.jpg" />
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                      </a>
                    </div>
                    <div class="magnific-img" data-aos="zoom-in">
                      <a class="image-popup-vertical-fit" href="https://unsplash.it/901" title="4.jpg">
                        <img src="https://unsplash.it/901" alt="4.jpg" />
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                      </a>
                    </div>
                    <div class="magnific-img" data-aos="zoom-in">
                      <a class="image-popup-vertical-fit" href="https://unsplash.it/888/?random" title="1.jpg">
                        <img src="https://unsplash.it/888/?random" alt="1.jpg" />
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                      </a>
                    </div>
                    <div class="magnific-img" data-aos="zoom-in">
                      <a class="image-popup-vertical-fit" href="https://unsplash.it/931/?random" title="2.jpg">
                        <img src="https://unsplash.it/931/?random" alt="2.jpg" />
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                      </a>
                    </div>
                  </section>
                  <div class="clear" style="padding-bottom: 150px;"></div>
                </p>
              
              </div>
        </section>