<div id="services"></div>
            <div class="projects-horizontal space ">
                <div class="container " style="padding-bottom: 100px;">
                    <div class="intro">
                        <h2 class="text-center text-light text-uppercase  " data-aos="fade-down">What we Offers </h2>
                        <p class="text-center text-light text-des" data-aos="fade-down">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
                    </div>
                    <div class="row projects">
                        <div class="col-sm-6 item" data-aos="fade-left">
                            <div class="row">
                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="img/desk.jpg"></a></div>
                                <div class="col">
                                    <h3 class="name">Project Name</h3>
                                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item" data-aos="fade-right">
                            <div class="row">
                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="img/building.jpg"></a></div>
                                <div class="col">
                                    <h3 class="name">Project Name</h3>
                                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item" data-aos="fade-left">
                            <div class="row">
                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="img/loft.jpg"></a></div>
                                <div class="col">
                                    <h3 class="name">Project Name</h3>
                                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item" data-aos="fade-right">
                            <div class="row">
                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="img/minibus.jpeg"></a></div>
                                <div class="col">
                                    <h3 class="name">Project Name</h3>
                                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>