  <div class="features-boxed" id="book">
            <div class="container">
                <div data-aos="fade-down"
                id="head" class="text-light text-uppercase"><b>tickets</b></div>
                <div class="row justify-content-center features">
                    <div class="col-sm-6 col-md-5 col-lg-4 item" data-aos="zoom-in">
                        <div class="box"><i class="la la-rocket icon"></i>
                            <h3 class="name">Works everywhere</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item" data-aos="zoom-in">
                        <div class="box"><i class="la la-money icon"></i>
                            <h3 class="name">Always available</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item" data-aos="zoom-in">
                        <div class="box"><i class="la la-cloud-upload icon"></i>
                            <h3 class="name">Always available</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item" data-aos="zoom-in">
                        <div class="box"><i class="fa fa-leaf icon"></i>
                            <h3 class="name">Organic </h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item" data-aos="zoom-in">
                        <div class="box"><i class="fa fa-plane icon"></i>
                            <h3 class="name">Fast </h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item" data-aos="zoom-in">
                        <div class="box"><i class="fa fa-plane icon"></i>
                            <h3 class="name">Fast </h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>